* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #e67a00;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 110px;
  gap: 38px;
  position: fixed;
  z-index: 1;
}

nav div.ak {
  color: white;
  font-size: 23px;
  font-family: ui-monospace
}

.ak a {
  color: white;
  text-decoration: none;
}

.menu a {
  box-shadow: inset 0 -2px 0 #fff;
  line-height: 56px;
  color: white;
  font-size: 20px;
  font-family: math;
  text-align: none;

}

.banner {
  background: url(https://bestschool.net.in/templates/purity_iii/images/bg.jpg);
  width: 100%;
  height: 610px;
}

.banner .ak {
  text-align: center;
  padding: 241px;
  background-position: center;
}

.banner .ak h2 {
  font-size: 38px;
  color: white;
  font-family: serif;
  font-weight: 400;
}

.banner .ak h5 {
  font-size: 25px;
  color: white;
  font-weight: 200;
  font-family: cursive;
}

.banner .ak input {
  width: 455px;
  font-size: 17px;
  color: white;
  background: #00000054;
  border: none;
  margin-top: 20px;
  height: 34px;
  outline: none;
}

.banner input {
  width: 450px;
  height: 39px;
  margin: 13px;
  background: #000000a1;
  border: none;
}

::placeholder {
  color: white;
  text-align: center;
  font-size: 20px;
}

.contant {
  text-align: center;
  margin-bottom: 80px;
  width: 100%;
  height: 150px;
}

.contant2 h2 {
  font-size: 30px;
  margin-top: 74px;
  font-weight: 300;
  padding-top: 55px;
  font-family: math;
}

.contant2 h4 {
  font-size: 20px;
  margin-top: 14px;
  font-family: math;
  font-weight: 200;
}

.best {
  width: 378px;
  height: 231px;
  border: 2px solid #0065ff36;
  margin: 23px;
  float: left;
}

.best img {
  width: 100%;
  height: 100%;
  padding: 4px 4px;
}

.best h2 {
  text-align: center;
  margin-top: -45px;
  color: white;
  font-family: math;
}

.b button {
  border-radius: 12px;
  border: none;
  height: 44px;
  width: 190px;
  font-size: 17px;
  background: #e67a00;
  margin-left: 45%;
}

.contant2 {
  width: 100%;
  text-align: center;
  height: 218px;
  background: #f5f5f5a3
}

.contant h2 {
  font-size: 30px;
  font-family: math;
  margin-top: 36px;
  padding-top: 45px;
}

.contant h4 {
  font-weight: 200;
  font-size: 23px;
  word-spacing: 3px;
  letter-spacing: 2px;
}

.footer {
  background: #b3b4f536;
  width: 100%;
  height: 200px;
  padding: 8px 20px;
}

.footer h4 {
  color: #e67a00;
  font-size: 18px;
  letter-spacing: 2px;
}

.footer h6 {
  font-size: 18px;
  color: #23467dd6;
  font-weight: 400;
  margin-top: 25px;
}